@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
}

body {
  background-color: hsl(0, 0%, 98%);
}

.p-color {
  color: hsl(227, 12%, 61%);
}

.headings-color {
  color: hsl(233, 12%, 13%);
}

.flexBetween {
  @apply flex items-center justify-between;
}

.flexCenter {
  @apply flex items-center justify-center;
}

.ButtonContainer {
  @apply w-auto items-center h-auto py-2 px-4 md:py-3 md:px-6 rounded-3xl bg-[#e66e19] text-white font-medium;
}

/* w-auto items-center rounded-3xl shadow-lg shadow-white-300 
bg-[#e66e19]  text-white font-medium md:text-[12px] lg:text-[16px]  
md:py-2.5 md:px-6  
lg:py-3 lg:px-8 hover:opacity-70 hidden md:block mt-7 lg:mt-6 xl:mt-7 */
